@use '../../style/vars' as *;

.notFound{
    background-color: $main_dark;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 28px;
    color: $second_text;

    h5{
        letter-spacing: 6px;
    }

    span{
        font-size: 80px;
    }

    a{
        background-color: $main_light;
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 600;
        &:hover{
            opacity: 80%;
        }
    }
}