// fonts
%main-font{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

%cursive-font{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

// colors
$main_light: #ffffff;
$main_dark: #774dcb;
$main_text: #230240;
$second_text: #ffffff;
$shadow_bg: #bb91f1;



