@use '../../style/vars' as *;

$main_light: #ffffff;
$main_dark: #1b7447fc;
$main_text: #47613e;

.userPosts{
    margin-bottom: 150px;
    .create{
        margin-bottom: 80px;

        a{
            display: inline-block;
            padding: 10px 20px;
            background-color: $main_dark;
            color: $main_light;
            font-size: 20px;
            border-radius: 6px;
            &:hover{
                background-color: $main_text;
                transition: .4s;
            }
        }
    }


    .wrapper{

        .filter{
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-bottom: 80px;
            li{
                button{
                    background-color: $main_dark;
                    color: $main_light;
                    padding: 10px 20px;
                    font-size: 18px;
                    border-radius: 6px;
                    letter-spacing: 2px;
                    border: 1px solid transparent;
                    &:hover, &.active{
                        border: 1px solid $main_dark;
                        color: $main_dark;
                        background-color: inherit;
                        font-weight: 500;
                        transition: .4s;
                    }
                    &.active{ 
                        pointer-events: none;
                    }
                }
            }
        }

        .posts{
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            gap: 40px;
            padding: 0 20px;
        }

        .empthy{
            font-size: 22px;
        }

    }
}