@use '../../style/vars' as *;


.header{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    margin-bottom: 50px;

    background-color: $main_dark;
    color: $second_text;


    li, button{
        letter-spacing: 2px;
        text-transform: uppercase;
        @extend %cursive-font;
        font-weight: 400;
        font-size: 18px;
    }

    a, button{
        color: inherit;
        background-color: transparent;
    }

    .wrapper{
        max-width: 1216px;
        width: 100%;
        margin: 0 auto;
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        font-size: 50px;  
        @extend %cursive-font;
    }

}
