@use '../../style/vars' as *;

.favouriteHeader{
    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 400;
    @extend %cursive-font;
}

.favouritesProduct{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.empthyFavourite{
    font-size: 20px;
    display: block;
    text-align: center;
    padding-top: 20vh;
}

.favouriteWrapper{
    display: flex;
    flex-direction: column;

    .showMore{
        background-color: $main_dark;
        color: $main_light;
        padding: 10px;
        border-radius: 3px;
        margin: 50px 0 100px;
        width: 300px;
        align-self: center;
        &:hover{
            opacity: 90%;
        }
    }
}