@use '../../style/vars' as *;

.imagesSliderContainer{
    width: 800px;
    height: 500px;
}


.postPage{
    margin-bottom: 100px;
    
    .date{
        margin-top: 40px;
        padding-bottom: 30px;
    }

    .title{
        text-transform: capitalize;
        font-size: 28px;
        padding-bottom: 10px;
    }

    .price{
        font-size: 30px;
        font-weight: 700;
    }

    .categoryWrapper, .state{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 20px;

        p{
            font-weight: 600;
        }
    }

    .state{
        padding: 60px 0 8px;
    }


    .description{
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .info{
        width: 70%;
        font-style: 18px;
    }

    .seller{
        margin-bottom: 30px;
        margin-top: 60px;
        p{
            font-weight: 600;
            font-size: 20px;
            padding-bottom: 15px;
        }

        .user{
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .data{
            font-size: 12px;
        }

        .img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: $main_dark;

            color: rgb(255, 255, 255);
            text-transform: uppercase;
            font-size: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .row{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .name{
            text-transform: capitalize;
            font-size: 24px;
        }

        .ratingCount{
            font-size: 14px;
            padding-top: 2px;
        }
    }


    .buttons{
        display: flex;
        gap: 50px;
        .message, .show{
            background-color: $main_dark;
            color: $main_light;
            padding: 10px 15px;
            border-radius: 3px;
            letter-spacing: 2px;
        }
    }

    .orderBtn{
        margin-top: 40px;
        a{
            display: inline-block;
            background-color: $main_dark;
            color: $main_light;
            padding: 10px 15px;
            border-radius: 3px;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
    }
}
